.chishi_content{
	width: 800px;
	border: solid 1px #E8E8E8;
	float: left;
	padding:30px;
	margin-left: 15%;
	line-height: 25px;
}
.fillpageblank{
	width: 200px;
	height: 20px;
	border: solid transparent;
}
h2{
	color: #F16522;
	margin: 20px;
	margin-left: 50px;
}