*{
    margin: 0px;
    padding: 0px;
}
body{
    padding-top:10px; 
    padding-left: 20px;
    padding-right: 20px;
}
.pagelogo img{
    width: 100%;
    height: 100%;
}
.pagelogo{
	width: 100%;
}
#ptop{
	width: 100%;
}
#threeLine{
	
}
#people{
	position: absolute;
	right: 20px;
}
